/* vars - переменные */
:root {
    --main-color-text:#070707;
    --color-link:#828282;
    --main-font-size: 18px;
    --main-font-family:Arial, Helvetica, sans-serif;
    --background-section: #E5E5E5;
}